<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Tournament</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        {% if 'add' in request.path %}
            <h2>Host new tournament</h2>
        {% else %}
            <h2>Edit existing tournament</h2>
        {% endif %}
        {% if 'add' in request.path %}
            <form method="post" enctype="multipart/form-data" onsubmit="return confirm('Do you really want to create this tournament?');">
        {% else %}
          <form method="post" enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
      {% if 'add' in request.path %}
        <button type="submit" id="addTournament">Create</button>
      {% else %}
          <button type="submit">Modify</button>
      {% endif %}
      </form>
    {% endblock %}

</body>
</html>