@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post" action="~/Name.cshtml">
            <label>
                Imię: <input type="text" name="name">
            </label>
            <input type="submit"> 
        </form>
    </div>
</body>
</html>
