<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournaments/style.css' %}">
</head>
<body>
    <div class="header">
        <h1>Tournament site</h1>
        <p>Site on which you can create your and join other users' tournaments for free!</p>
    <br>
        <div class="button-bar">
            <a href="{% url 'tournaments:index' %}"><button>BACK TO MAIN SITE</button></a>
            {% if not user.is_authenticated %}
                <a href="{% url 'tournaments:login' %}"><button>LOG IN</button></a>
                <a href="{% url 'tournaments:signup' %}"><button>REGISTER</button></a>
            {% else %}
                <a href="{% url 'tournaments:mymatches' pk=user.id %}"><button>MY MATCHES</button></a>
                <a href="{% url 'tournaments:logout' %}"><button>LOG OUT</button></a><br>

            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <span>Hello, {{user.first_name}}!</span>
        {% endif %}
    </div>

    <div id="title">
        {% block title %}{% endblock %}
    </div>


    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>