@{
    Page.Title = "Suit v6";
}
<img src="~/Images/Arc2.png" alt="Arc reactor (Palladium)" />
@section Info {
    <p>
        The Mark VI, was the sixth suit created by Tony Stark and was the main suit Tony
        used in the movie and in the game. After initial flight tests were completed on the Mark V ,
        Tony built the Mark VI. The strongest of the armors in Iron Man, it was designed for
        customization, the Mark VI armor can be equipped with a variety of incredible enhancements
        and upgrades. It was heavily damaged at the end of the first Iron Man film by Iron Monger. It
        was later replaced by the Mark VII armor.
    </p>
}
@section Links {
    <p>
        <a href="Mark3.cshtml">Mark III</a>
    </p>
}
        <!DOCTYPE html>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title></title>
        </head>
        <body>
        </body>
    </html>
